<div class="container mt-5">
  <h1 class="mb-3">DND Handbook</h1>
  <button class="btn btn-primary">Welcome to the DND Handbook, your ultimate guide to character creation and management.</button>
  <%= link_to 'Create Character', new_player_path, class: 'btn btn-primary' %>
</div>